.outerBox{
    margin-top: 50px;
}
.innerBox{
    padding: 25px !important;
}
.dateBox{
    margin-left: 100px !important;
    display:flex;
    justify-content: center;
}
.timeBox{
    display:flex;
    justify-content: center;
    margin-left: 100px !important;
}